<!DOCTYPE html>
<html>
    <head>
        <title>Index of {{ uri_path }}/</title>
        <meta charset="utf-8">
        <base href="{{ uri_path }}/">
        <link type="text/css" rel="stylesheet" href="/directory_listing.css">
    </head>
    <body>
        <h1>Index of {{ uri_path }}/</h1>
        <hr>
        <table>
            {% if not is_root %}
            <tr><td class="a"><a href="../?listing">../</a></td></tr>
            {% endif %}
            {% for entry in entries %}
            <tr>
                <td class="a"><a href="./{{ entry.name_encoded }}?listing">{{ entry.name }}</a></td>
                <td class="stat">{{ entry.mtime }}</td>
                <td class="sz">{{ entry.size }}</td>
            </tr>
            {% endfor %}
        </table>
        <hr>
    </body>
</html>
